Options +FollowSymLinks
Options -MultiViews

IndexIgnore *
Options -Indexes

#REESCREVE URL E ACISIONA O HTTPS://
# RewriteEngine On
# RewriteCond %{HTTPS} !=on 
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#####################################################################
# # # If we receive a forwarded http request from a proxy...
#  RewriteCond %{HTTP:X-Forwarded-Proto} =http [OR]

# # # ...or just a plain old http request directly from the client
#  RewriteCond %{HTTP:X-Forwarded-Proto} =""
#  RewriteCond %{HTTPS} !=on

# # # Redirect to https version
#  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
######################################################################
 

Header unset Pragma
FileETag None
Header unset ETag

# 2 Horas (limitado a ficheiro conteudos)
<FilesMatch "\.(html|htm|xml|txt|xsl)$">
Header set Cache-Control "max-age=600, must-revalidate"
</FilesMatch>

# Em cache para sempre (scripts e folhas de estilo)
<FilesMatch "\.(js|css)$">
Header set Cache-Control "max-age=600, must-revalidate"
Header set Expires "Thu, 15 Apr 2010 20:00:00 GMT"
Header unset Last-Modified
</FilesMatch>

#PAGINAS SIMPLES exemplos de url amigavel
# RewriteRule ^index/?([a-zA-Z0-9--]+)?/?$ index.php [NC,L]   
# RewriteRule ^fale-conosco/?([a-zA-Z0-9--]+)?/?$ fale-conosco.php [NC,L]
# RewriteRule ^trabalhe-conosco/?([a-zA-Z0-9--]+)?/?$ trabalhe-conosco.php [NC,L]
RewriteRule ^api/([0-9a-zA-Z_-]*)$ api.php
# RewriteRule ^api/([0-9a-zA-Z_-]*)$ api.php?name=$1 [NC,L]
# RewriteRule ^api/([0-9a-zA-Z_-]*)$ api.php?class=$person [NC,L]
# RewriteRule ^api/([0-9a-zA-Z_-]*)$ api.php?class=$person&operation=$operation [NC,L]

RewriteRule ^person_api/([0-9a-zA-Z_-]*)$ person_api.php


# php -- BEGIN cPanel-generated handler, do not edit
# Set the "ea-php71" package as the default "PHP" programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php71 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
