Options +FollowSymLinks
Options -MultiViews

IndexIgnore *
Options -Indexes

#REESCREVE URL E ACISIONA O HTTPS://
# RewriteEngine On
# RewriteCond %{HTTPS} !=on 
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#####################################################################
# # # If we receive a forwarded http request from a proxy...
#  RewriteCond %{HTTP:X-Forwarded-Proto} =http [OR]

# # # ...or just a plain old http request directly from the client
#  RewriteCond %{HTTP:X-Forwarded-Proto} =""
#  RewriteCond %{HTTPS} !=on

# # # Redirect to https version
#  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
######################################################################
 

Header unset Pragma
FileETag None
Header unset ETag

# 2 Horas (limitado a ficheiro conteudos)
<FilesMatch "\.(html|htm|xml|txt|xsl)$">
Header set Cache-Control "max-age=600, must-revalidate"
</FilesMatch>

# Em cache para sempre (scripts e folhas de estilo)
<FilesMatch "\.(js|css)$">
  Header set Cache-Control "max-age=600, must-revalidate"
  Header set Expires "Thu, 15 Apr 2010 20:00:00 GMT"
  Header unset Last-Modified
</FilesMatch>

#PAGINAS SIMPLES exemplos de url amigavel
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/person/insert([0-9a-zA-Z_-]*)$   api.php?class=person&operation=insert [L,NC,QSA]
RewriteRule ^api/person/update/(\d+)?$            api.php?class=person&operation=update&id=$0 [L,NC,QSA]
RewriteRule ^api/person/delete/(\d+)?$            api.php?class=person&operation=delete&id=$0 [L,NC,QSA]
RewriteRule ^api/person/read([0-9a-zA-Z_-]*)$     api.php?class=person&operation=read&id=0 [L,NC,QSA]
RewriteRule ^api/person/read/(\d+)?$              api.php?class=person&operation=read&id=$0 [L,NC,QSA]

# Acesso:
# http://127.0.0.1:81/engsoft     (root_uri)
# <root_uri>/api/person/insert
# <root_uri>/api/person/update
# <root_uri>/api/person/delete/1  (only_one)
# <root_uri>/api/person/read      (all)
# <root_uri>/api/person/read/1    (only_one)

# php -- BEGIN cPanel-generated handler, do not edit
# Set the "ea-php71" package as the default "PHP" programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php71 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
